@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(4, 1, 64) 0%, rgb(60, 5, 87) 56%, rgb(14, 1, 109) 100%);
    background-size: 200% 200%;
    animation: colors 15s ease infinite;
}

.title {
    font-size: 85px;
    color: #fff;
    animation: figTitle 2s;
    transition: all 1s;

}

.containerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder {
    color: #F1F1F1;

}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    border-radius: 8px;
}

.main h2 {
    margin: 10px 0;
    font-size: 35px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
}

@media(max-width: 715px) {

    .title {
        font-size: 60px;
        transition: all 1s;
    }

    .main h2 {
        font-size: 28px;
    }

    .main {
        width: 80%;
        min-height: 240px;
    }
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

